body {
  font-family: Open Sans, Tahoma;
}

header {
  background-color: #990099;
  text-align: center;
}

nav {
  /*background-color: #990099;
  display: inline-block;
  list-style: none;
  text-decoration: none;*/
}

a {
  text-decoration: none;
  color: #FFEBFF;
}


