
      /*HEADER*/
header { text-align: center; }

h1 {
  font-family: Tahoma;
  margin: 1em 0;
  font-size: 2.5em;
}



      /*NAVIGATION BAR*/
ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 1.5em 0 1.5em;  
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover { color: white; }



      /*SIDEBAR*/
h4 {
  display: inline-block;
  font-size: 1em;
  margin-left: 22%;
}

#sidebar {
  /*border: 1px solid black;*/
  float: right;
  clear: both;
  width: 20%;
}



      /*BODY*/
body {
  background: #F5EBFF;
  font-family: Tahoma, sans-serif;
}

h2 { margin-top: 1em; }

h3 { font-weight: normal; }

#content {
  max-width: 65%;
  margin-left: 15%;
}

article { color: #333333; }

.h-line { border-top: 2px solid #333333; }



      /*FOOTER*/
footer {}